.header__img{

}

.header__img img{

}

.container{
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 2%;

}

.header__img{

}

.header_links{
    margin-left: 7%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;

}

.header__info{
    font-family: "Red Hat Display", sans-serif;

}

.article__section{
    display: flex;
    margin-top: 20px;
}

.container___2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 700px;
    padding-left: 112px;
}

.container__2{
    transform: translate(-80px, -100px)
}

.NameText{
    font-family: "Red Hat Display", sans-serif;
    font-size: 48px;
}

.JobName{
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    margin-top: -1%;
}

.MainPhoto{
    /*
    width: 623px;
    height: 612px;
    */

}

.container___3{
width: 591px;
text-align: justify;
margin-left: 110px;
    margin-top: 10px;
}

.BigTXT{
font-family: "Red Hat Display", sans-serif;
font-size: 24px;
color: #47444E;

}

.BigTXT_2{
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    color: #47444E;
}

.BigTXT_3{
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    color: #47444E;
}


.container__3_2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.container___3_3{
    width: 501px;
    text-align: justify;
}
.container___3_4{
    width: 502px;
    MARGIN-LEFT: 200PX;
    text-align: justify;
}

.container__main{
    display: flex;
    margin-top: -220px;
    margin-left: 100px;
    flex-direction: column;
}


.HeadText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -140px;
    padding-top: 4%;
}

.Txt_1{
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    margin-right: 42%;
    padding-left: 160px;
}

.container___4{
    display: flex;
    margin-left: 4%;
    margin-top: 40px;
    align-items: flex-end;
}

.Gram1{

}
.Gram2{
    margin-left: 13%;
}

.article__section__3{
    margin-top: 3%;
}

.BigTXT_4{
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.BigTXT_5{
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 39%;
}

.article__section__4{
}

.TextBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
}

.container___5{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;

}

.kov{

}

.BigTXT_8{
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}


.BigTXT_9{
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.LogoContainer{
    height: 83px;
    width: 59px;
}
.LogoContainer{
    height: 75px;
    width: 75px;
}

.container___6{
    display: flex;
    margin-top: 4%;
}

.mini_container_1 {
    margin-left: 24%;
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 10%;
    background-color: #FFE7F0;
    border: 1px solid #FFD7E9;
    box-shadow: 0 0 20px #FFD7E9;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini_container_2 {
    margin-left: 3%;
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 10%;
    background-color: #EDFFF5;
    border: 1px solid #CAFFE1;
    box-shadow: 0 0 20px #BCFFDB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mini_container_3 {
    margin-left: 3%;
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 10%;
    background-color: #F5FCFF;
    border: 1px solid #DDF5FF;
    box-shadow: 0 0 20px #CEF2FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TXT_2{
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    margin-top: 10px;
}

.TXT_3{
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
    text-align: center;
}

.article__section__5{
    margin-left: 7%;
    margin-top: 3%;
}

.BigTXT_10{
    margin-left: 7%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    margin-top: 90px;
    font-weight: bold;
}
